<p align="center" class="style3">Third Grade LA Websites<br>
  Aligned to HCPS III
</p>
<table width="100%"  border="1">
  <tr>
    <td class="style3"><div align="center">
      <p>Prefixes</p>
      <dl>
        <dt><a href="http://www.myschoolhouse.com/courses/O/1/45.asp" align="left">Identifying Prefixes</a></dt>
        <dd><a href="http://www.englishmedialab.com/Quizzes/advanced/prefixwordbase.htm" align="left">Prefix and Suffix Match #1</a></dd>
        <dt><a href="http://www.englishmedialab.com/Quizzes/advanced/prefixwordbase2.htm" align="left">Prefix and Suffix Math #2</a></dt>
        <dd><a href="http://www.harcourtschool.com/activity/book_buddy/arthur/skill.html" align="left">Book Buddy Game</a></dd>
        <dt><a href="http://www.oswego.org/ocsd-web/match/matchgeneric.asp?filename=jwildeprefix2" align="left">Building Prefixes</a></dt>
        <dd><a href="http://www.sadlier-oxford.com/phonics/crstcast/crstcastle.htm" align="left">Crystal Castle</a></dd>
        <dt><a href="http://www.englishmedialab.com/Quizzes/advanced/prefixchoice.htm" align="left">Prefix Quiz #1</a></dt>
        <dd><a href="http://www.bbc.co.uk/apps/ifl/skillswise/mod_quizzes/words/spelling/wordbuilding/prefixes/quizengine?quiz=simplequiz1;templateStyle=simplequiz;pagerType=pages;pagerData=1" align="left">Prefix Quiz #2</a><br>
          </dd>
      </dl>
      </div></td>
    <td class="style3"><div align="center">
      <p>Suffix</p>
      <dl>
        <dt><a href="http://www.oswego.org/ocsd-web/match/dragflip.asp?filename=jwildesuffix">Suffix and Base Word Match</a></dt>
        <dd><a href="http://www.tv411.org/lessons/cfm/vocabulary.cfm?str=vocabulary&num=10&act=1">Suffixes Say Plenty</a></dd>
        <dt><a href="http://www.bbc.co.uk/skillswise/words/spelling/wordbuilding/suffixes/quiz.shtml">Suffix Quiz</a></dt>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Root Words</p>
      <dl>
        <dt><a href="http://www.quia.com/jg/66094.html">Roots and Prefix</a></dt>
        <dd><a href="http://www.bbc.co.uk/skillswise/words/spelling/wordbuilding/rootwords/index.shtml">Root Words</a></dd>
        <dt><a href="http://www.funbrain.com/funbrain/roots/index.html">Rooting Out Words Game</a></dt>
        <dd><a href="http://www.sadlier-oxford.com/phonics/5_6/fishtanks1/fishtanks1.htm">Fish Tank Game</a></dd>
      </dl>
    </div></td>
  </tr>
  <tr>
    <td class="style3"><div align="center">
      <p>Syllables</p>
      <dl>
        <dt><a href="http://www.bbc.co.uk/skillswise/words/spelling/soundandspell/syllables/">Syllable Game and Quiz</a></dt>
        <dd><a href="http://www.quia.com/jg/108448.html">Dividing Words into Syllables Games</a></dd>
        <dt><a href="http://www.quia.com/pop/5909.html">Syllables Pop Up Counting Quiz</a></dt>
        <dd><a href="http://www.softschools.com/quiz_time/language_arts/syllables/theme4.html">Syllable Quiz</a></dd>
        <dt><a href="http://english.glendale.cc.ca.us/s1.html">Syllable Quiz 2</a></dt>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Parts of Speech</p>
      <dl>
        <dt><a href="http://eslus.com/LESSONS/GRAMMAR/POS/pos.htm">Parts of Speech Lesson and Quizzes</a> </dt>
        <dd><a href="http://www.learningplanet.com/act/rats/rats3.htm?rats_nounverb">Rats-Nouns and Verbs</a></dd>
        <dt><a href="http://www.learningplanet.com/act/rats/rats3.htm?rats_compropnouns">Rats-Common and Proper Nouns</a></dt>
        <dd><a href="http://www.learningplanet.com/act/rats/rats3.htm?rats_advadj">Rats-Adverbs and Adjectives</a></dd>
        <dt><a href="http://www.harcourtschool.com/activity/basketball/index.html">Noun Dunk</a></dt>
        <dd><a href="http://www.eduplace.com/kids/hme/k_5/quizzes/">Grammar Blast</a></dd>
        <dt><a href="http://languagearts.pppst.com/partsofspeech.html">Parts of Speech PPT</a></dt>
        <dd><a href="http://web2.uvcs.uvic.ca/elc/studyzone/330/grammar/parts1.htm">Parts of Speech Game</a></dd>
      </dl>
    </div></td>
    <td class="style3"><p align="center">Multiple Meaning</p>
      <dl>
        <dt>
          <div align="center"><a href="http://sb058.k12.sd.us/multiple%20meanings/multiple_meaning_words.htm">Multiple Meaning Words</a><br>
          <a href="http://www.tv411.org/lessons/cfm/vocabulary.cfm?str=vocabulary&num=11&act=1">Words with Multiple Meaning Practice</a></div>
        </dt>
        <dt>
          <div align="center"><a href="http://www.webenglishteacher.com/multmean.html">Multiple Meaning PPT (last link)</a></div>
        </dt>
        <dd>
          <div align="center"><a href="http://etap.org/demo/langart4_6/langart1/langart_gr46_l1_pe3.htm">Multiple Meaning Quiz</a></div>
        </dd>
        <dt>
          <div align="center"><a href="http://www.quia.com/servlets/quia.activities.common.ActivityPlayer?AP_rand=1013667551&AP_activityType=3&AP_urlId=285436&AP_continuePlay=true285436">Multiple Meanings Quiz 2</a></div>
        </dt>
        <dd>
          <div align="center"><a href="http://www.quia.com/quiz/285436.html">Multiple Meanings Quiz 3</a></div>
        </dd>
        <dt>
          <div align="center"><a href="http://www.quia.com/cb/78014.html">Multiple Meaning Word Finder</a></div>
        </dt>
    </dl></td>
  </tr>
  <tr>
    <td class="style3"><div align="center">
      <p>Comparative and Superlative Adjectives</p>
      <p><a href="http://www.eflnet.com/grammar/compsupadj1.php">Quiz</a> </p>
    </div></td>
    <td class="style3"><div align="center">
      <p>Capitalization</p>
      <dl>
        <dt><a href="http://languagearts.pppst.com/punctuation.html">Capitalization PowerPoint</a></dt>
        <dd><a href="http://classroom.jc-schools.net/la/activities/capital-punct_files/frame.htm">Capitalization and Punctuation PowerPoint</a></dd>
        <dt><a href="http://www.roythezebra.com/reading-games-capital-letters.html">Roy the Zebra Game</a></dt>
        <dd><a href="http://a4esl.org/q/j/ck/ed-caps.html">Capitalization Quiz</a></dd>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Homophone </p>
      <dl>
        <dt><a href="http://www.quia.com/jg/87619.html">Homophone Game</a></dt>
        <dd><a href="http://www.better-english.com/easier/theyre.htm">Their/They're/There Quiz</a></dd>
        <dt><a href="http://www.quia.com/rr/3116.html">Rags to Riches</a></dt>
        <dd><a href="http://evaeaston.com/pr/homophones.html">Homophone List</a></dd>
      </dl>
    </div></td>
  </tr>
  <tr>
    <td class="style3"><div align="center">
      <p>Main Idea</p>
      <dl>
        <dt><a href="http://www.manatee.k12.fl.us/sites/elementary/samoset/rcmi1.htm">Main Idea Mini Lesson</a></dt>
        <dd><a href="http://www.manatee.k12.fl.us/sites/elementary/samoset/mainideaprac.htm">Main Idea Practice Lesson</a></dd>
        <dt><a href="http://www.harcourtschool.com/activity/book_buddy/rosie/skill_pre.html">Main Idea Skills</a></dt>
        <dd><a href="http://www.studyzone.org/testprep/ela4/h/mainideap3.cfm">Main Idea Practice</a></dd>
        <dt><a href="http://www.oswego.org/ocsd-web/quiz/mquiz.asp?filename=jwildemainidea">Main Idea Quiz</a></dt>
        <dd><a href="http://www.quia.com/quiz/1169917.html">Main Idea and Supporting Details Quiz</a></dd>
        <dt><a href="http://www.studyzone.org/testprep/ela4/h/mainideap2.cfm">Show What You Know</a></dt>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Homographs</p>
      <dl>
        <dt><a href="http://www.quia.com/cb/8285.html ">Homograph Game</a></dt>
        <dd><a href="http://www.quia.com/cb/6344.html">Multiple Meanings Game</a></dd>
        <dt><a href="http://a4esl.org/q/h/lb.html">Homograph Assessments</a></dt>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Idioms</p>
      <dl>
        <dt><a href="http://www.funbrain.com/idioms/">Fun Brain Idioms</a></dt>
        <dd><a href="http://www.readwritethink.org/materials/idioms/">Idiom Game</a></dd>
      </dl>
    </div></td>
  </tr>
  <tr>
    <td class="style3"><div align="center">
      <p>Figurative Language</p>
      <dl>
        <dt><a href="http://languagearts.mrdonn.org/figurative.html">What is Figurative Language</a></dt>
        <dd><a href="http://languagearts.pppst.com/figurative.html">Figurative Language PPT</a></dd>
        <dt><a href="http://www.dowlingcentral.com/MrsD/area/literature/Terms/figspeech.html">Figurative Language Summary and Quiz</a></dt>
        <dd><a href="c-schools.net/writeaway/figurative-lang-overview.ppt ">Go Figure! PPT</a></dd>
        <dt><a href="http://www.gamequarium.com/figurativelanguage.html">Figurative Language Activities</a></dt>
        <dd><a href="www.qcsd.org/213620813133419217/lib/ 213620813133419217/_files/Figurative_Language_Game.ppt">Figurative Language PPT Game</a></dd>
        <dt><a href="http://bugges.wcpss.net/Do%20You%20Know%20What%20It%20Means.htm">Figurative Language Webquest</a></dt>
        <dd><a href="http://www.quia.com/cb/130986.html">Jeopardy</a></dd>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Simile</p>
      <dl>
        <dt><a href="http://www.worsleyschool.net/socialarts/simile/page.html">Simile Quiz</a></dt>
        <dd><a href="http://www.saidwhat.co.uk/spoon/similes.php">Simile List</a></dd>
        <dt><a href="http://www.saidwhat.co.uk/spoon/similes.php">Simile List 2</a></dt>
        <dd><a href="http://iteslj.org/cw/1/ck-animalsimile.html">Simile Crossword</a></dd>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Punctuation and Capitalization</p>
      <dl>
        <dt><a href="http://languagearts.mrdonn.org/punctuation.html#comma">Punctuation and Capitalization</a></dt>
        <dd><a href="http://eatsshootsandleaves.com/ESLquiz.html">Eats, Shoots and Leaves<br>
          Punctuation Game</a></dd>
      </dl>
    </div></td>
  </tr>
  <tr>
    <td class="style3"><div align="center">
      <p>Apostrophe</p>
      <dl>
        <dt><a href="http://www.bbc.co.uk/skillswise/words/grammar/punctuation/apostrophes/index.shtml">Apostrophe Game</a></dt>
        <dd><a href="http://www.quia.com/jg/67716.html">Singular Possessive Game</a></dd>
        <dt><a href="http://www.wisc-online.com/objects/index_tj.asp?objID=WCN6702">Singular Possessive Nouns</a></dt>
        <dd><a href="http://www.grainvalley.k12.mo.us/gvsd/dreamweaver2/possessive.htm">Possessive Nouns and Pronouns</a></dd>
        <dt><a href="http://scott.k12.va.us/thooks/Apostrophe%20A,B%20Action%20(Teacher).htm">Apostrophe Action</a></dt>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Verb Tense</p>
      <dl>
        <dt><a href="http://www.bbc.co.uk/skillswise/words/grammar/tenses/getting_the_right_tense/index.shtml">Verb Tense Game</a> </dt>
        <dd><a href="http://www.quia.com/jg/61571.html">Verb Tense Game 2</a></dd>
        <dt><a href="http://www.funbrain.com/verb/index.html">Bee Game</a></dt>
        <dd><a href="http://www.oswego.org/ocsd-web/quiz/mquiz.asp?filename=kderitteverbtense">Town Mouse Country Mouse Game</a></dd>
        <dt><a href="http://www.ezschool.com/Games/AlterVerbs.html">Verb Tense Drill</a></dt>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Adverb</p>
      <dl>
        <dt><a href="http://www.quia.com/ba/8086.html">Adverb Battleship Game</a></dt>
        <dd><a href="http://www.learningplanet.com/act/rats/ratslist3.asp">Rats Game</a></dd>
        <dt><a href="http://grainvalley.k12.mo.us/gvsd/eagle_resources/adverbs.html">Adverb Activities</a></dt>
        <dd><a href="http://www.oswego.org/ocsd-web/match/term/matchgeneric2.asp?filename=msmith5adverbmatch">Choose the Correct Adverb</a></dd>
      </dl>
    </div></td>
  </tr>
  <tr>
    <td class="style3"><div align="center">
      <p>Comma</p>
      <dl>
        <dt><a href="http://www.bbc.co.uk/skillswise/words/grammar/punctuation/commas/">Comma Game</a> </dt>
        <dd><a href="http://www.savethecomma.com/game/">Comma IQ Game</a></dd>
      </dl>
    </div></td>
    <td class="style3"><div align="center">
      <p>Imperative Sentences</p>
      <p><a href="http://www.kwiznet.com/p/takeQuiz.php?ChapterID=1840&CurriculumID=13&Num=3.29">Imperative Sentences Quiz</a> </p>
    </div></td>
    <td class="style3"><div align="center">
      <p>Subject Verb Agreement</p>
      <p><a href="http://languagearts.pppst.com/subject-verb-agreement.html">Subject Verb Agreement PPT</a></p>
    </div></td>
  </tr>
  <tr>
    <td class="style3"><p align="center">Reading Comprehension</p>
    <p align="center"><a href="http://www.mce.k12tn.net/reading3/sarah.htm">Sarah Plain and Tall Comp Questions</a> <br>
      <a href="http://alex.state.al.us/lesson_view.php?id=11926">Summarizing Sarah Plain and Tall</a>    </p></td>
    <td class="style3"><p align="center" class="style3"><a href="http://www.internet4classrooms.com/skills_3rd_original.htm">3rd Grade Websites<br>
    </a><a href="http://www.internet4classrooms.com/skills_4th_original.htm">4th Grade Websites<br>
    </a><a href="http://www.pppst.com/themes.html">PowerPoint by Themes<br>
    </a><a href="http://languagearts.pppst.com/">Language Arts PPT<br>
    </a><a href="http://www.starfall.com/">Starfall<br>
    </a><a href="http://www.pppst.com/games.html">Greta's Game Station<br>
    </a><a href="http://www.dowlingcentral.com/MrsD/area/literature/LitTerms.html">Literature Terms</a></p>
    </td>
    <td class="style3">&nbsp;</td>
  </tr>
</table>