<p align="center" class="style1">Science Websites<br>
  Aligned to HCPS III <br>
Grade 3 </p>
<table width="100%"  border="1">
  <tr>
    <td class="style1"><p>Quarter 1</p>
      <p>SC 3.5.1<br>
          <a href="http://www.nationalgeographic.com/xpeditions/lessons/17/gk2/serenobodies.html">Dinosaur Bodies<br>
        </a><a href="http://bogglesworldesl.com/lessons/animal_parts.htm">Animal Body Parts</a> </p>
      <p>SC 3.4.1<br>
  |<a href="http://oncampus.richmond.edu/academics/education/projects/webunits/adaptations/">Animals on Defense<br>
</a><a href="http://www.lpzoo.org/education/zebra/student/a.html">Zebra Online</a></p>
      <p>SC 3.3.1<br>
          <a href="http://www.youtube.com/watch?v=FH3UwX3bPaM">Plants and Animals Clip</a> <br>
          <a href="http://www.smithsonianeducation.org/educators/lesson_plans/partners_in_pollination/">Animals and Plants-Partners in Pollination</a> </p>
      <p>SC 3.2.1<br>
          <a href="http://www.sciencenetlinks.com/sci_update.cfm?DocID=230">Robot Farmers<br>
          </a><a href="http://www.sciencenetlinks.com/lessons.cfm?DocID=248">Modern Farming and Technology</a><br>
          <a href="http://www.sciencenetlinks.com/lessons.cfm?DocID=348">Technology and Inequality</a></p></td>
    <td class="style1"><p>Quarter 2</p>
      <p><br>
  SC 3.8.2<br>
  <a href="http://www.dnr.state.wi.us/org/caer/ce/eek/earth/groundwater/watercycle.htm">Water Cycle Background</a><br>
  <a href="http://www.teachersdomain.org/sci/ess/watcyc/index.html">Videos on Water Cycle, Weather and Climate</a><br>
  <a href="http://epa.gov/climatechange/kids/water_cycle_version2.html">Water Cycle Background and Quiz</a><br>
  <a href="http://www.learner.org/interactives/weather/watercycle.html">The Water Cycle and El Nino</a></p>
      <p>SC 3.8.1<br>
          <a href="http://www.fi.edu/fellows/payton/rocks/create/index.html">How are Rocks Made?</a><br>
          <a href="http://www.classzone.com/books/earth_science/terc/content/investigations/es0602/es0602page02.cfm">Rock Cycle</a><br>
          <a href="http://www.amonline.net.au/geoscience/minerals/minerals.htm">Background on Minerals</a><br>
          <a href="http://www.fi.edu/fellows/fellow4/nov98/projects/formed.html">How are Rocks and Minerals Formed?</a><br>
          <a href="http://library.thinkquest.org/J003195F/definiti.htm">What is Soil</a></p></td>
  </tr>
  <tr>
    <td class="style1"><p>Quarter 3 </p>
      <p>SC 3.6.3<br>
          <a href="http://www.teachersdomain.org/resources/lsps07/sci/phys/energy/lighttravel/index.html">How Light Travels Video</a></p>
      <p>SC 3.6.2<br>
          <a href="http://www.teachersdomain.org/resources/phy03/sci/phys/howmove/lp_sound/index.html">Sound Vibrations</a><br>
          <a href="http://www.ndt-ed.org/EducationResources/HighSchool/Sound/vibration.htm">Sound Wave Description</a></p>
      <p>SC 3.7.1<br>
          <a href="http://www.edheads.org/activities/simple-machines/">Simple Machines Game</a><br>
          <a href="http://www.mikids.com/Smachines.htm">Simple Machines Background</a><br>
          <a href="http://www.coe.uh.edu/archive/science/science_lessons/scienceles1/finalhome.htm">Simple Machines Quiz</a><br>
          <a href="http://edtech.kennesaw.edu/web/simmach.html">Simple Machines Resources</a></p></td>
    <td class="style1"><p>Quarter 4</p>
      <p>SC 3.8.3<br>
          <a href="http://www.kidseclipse.com/pages/a1b3c0d0.htm">How the Sun, Moon and Earth Move</a><br>
          <a href="http://www.classzone.com/books/earth_science/terc/content/visualizations/es0408/es0408page01.cfm?chapter_no=04">Earth's Revolution Around Sun Model</a><br>
          <a href="http://www.eyeonthesky.org/lessonplans/08sun_moonplayground.html">Moon Movement</a></p>
      <p>SC 3.8.4<br>
          <a href="http://lessons.ctaponline.org/~cmunns/student/home.html">Star Gazers</a></p></td>
  </tr>
</table>