<p align="center" class="style2">Social Studies</p>
<table width="100%"  border="1">
  <tr>
    <td width="51%" class="style1"><p>Quarter 1</p>
    <p>&nbsp; </p></td>
    <td width="49%" class="style1"><p>Quarter 2</p>
      <p>SS 3.7.1<br>
          <a href="http://geography.pppst.com/mapskills.html">Map Skills PowerPoints</a><br>
          <a href="http://volweb.utk.edu/Schools/bedford/thomas/mapsk.html">Map Skills Background</a><br>
          <a href="http://academic.brooklyn.cuny.edu/geology/leveson/core/linksa/scale_use.html">Map Skills</a><br>
          <a href="http://www.myschoolhouse.com/courses/O/1/37.asp">Simple Map Quiz<br>
          </a><a href="http://www.quia.com/jg/2839.html">Map and Globe Skills Quiz</a><br>
      <a href="http://members.aol.com/bowermanb/mapgames.html">Map Games</a></p>
      <p>SS 3.7.2-3<br>
          <a href="http://www.hawaii.edu/hga/k2/trivia-k2.htm">Physical and Human Characteristics Quiz<br>
                                  </a><a href="http://www.nationalgeographic.com/xpeditions/lessons/04/gk2/earthspace.html">Physical and Human Characteristics Lesson</a><a href="http://www.hawaii.edu/hga/k2/trivia-k2.htm"></a><br>
      <a href="http://www.proquestk12.com/bulletins/archive/CG_June05.html">Culture Gram</a></p>
      <p>SS3.7.4<br>
      <a href="http://www.nationalgeographic.com/xpeditions/lessons/14/g35/faywild.html">Wild Animals-Will People Change Them Forever</a></p>
      <p>SS 3.7.5 <br>
        <a href="http://www.bbc.co.uk/schools/gcsebitesize/geography/population/migrationrev3.shtml">Why People Migrate</a><br>
        <a href="http://www.bbc.co.uk/schools/gcsebitesize/geography/population/migrationrev3.shtml">Why People Migrate Background</a><br>
        <br>
      </p></td>
  </tr>
  <tr>
    <td class="style1"><p>Quarter 3</p>
    <p>&nbsp; </p></td>
    <td class="style1"><p>Quarter 4 </p>
    <p>SS 3.8.3<br>
      <a href="http://www.econedlink.org/lessons/index.cfm?lesson=EM302&page=teacher">Background on Money</a><br>
      <a href="http://www.pbs.org/newshour/on2/money/history.html">Interactive Timeline on Money</a>      <br>
    </p>
    </td>
  </tr>
</table>