<ul>
Important Websites!
<li><a href="http://web.teenbiz3000.com/">Teenbiz 3000</a></li>
<li><a href="http://web.kidbiz3000.com">Kidbiz 3000</a></li>
<li><a href="http://www.whizz.us/#">Math Whizz</a></li>
<li><a href="http://www.nationalgeographic.com/geobee">National Geographic GEOBEE</a></li>
<li><a href="http://destiny.k12.hi.us/common/welcome.jsp;jsessionid=5AB96CDE2CDFB982AB9FC0B06FABB92A?site=1023">Destiny Library</a></li>
<li><a href="http://www.school.eb.com">Encyclopedia Britannica Online (Password available in Library Brochure)</a></li>

</ul>
<ul>
From Home, check your grades and find a book!
<li><a href="http://hosted56.renlearn.com/289645/HomeConnect/Login.aspx">AR/STAR Home Connect</a></li>	
<li><a href="http://www.arbookfind.com/">AR Book Finder!</a></li>
</ul>
<ul>
GAMES!
	<li><a href="http://www.bbc.co.uk/schools/typing">BBC Typing Game (3-6)</a></li>
	<li><a href="http://www.prongo.com/fishtank/game.html">Draw your own FISHTANK! (K-2)</a></li>
	<li><a href="http://www.prongo.com/checkers/index.html">Checkers (K-6)</a></li>
	<li><a href="http://www.prongo.com/match/index.html">Memory Match (K-2)</a></li>
	<li><a href="http://www.kidsplaypark.com/games/hatch/">Hatch Match! (K-2)</a></li>
	<li><a href="http://www.prongo.com/maze/index.html">Maze!!! (K-3)</a></li>
	<li><a href="http://www.prongo.com/draw/index.html">Connect the Dots! (K-6)</a></li>
	<li><a href="http://www.prongo.com/puzzle/index.html">Space Jumble Picture Maze (3-6)</a></li>
	<li><a href="http://www.prongo.com/wordfind/index.html">Word Find! (4-6)</a></li>
	
</ul>
